name: Publish Honey to Github Packages

permissions:
  contents: write
  packages: write
  pull-requests: write

on:
  push:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  number_of_files_changeset_folder: 0

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: echo "GH_TOKEN=${{ secrets.NPM_TOKEN }}" >> .env.yarn
      - run: echo "NPM_TOKEN=${{ secrets.NPM_REG_TOKEN }}" >> .env.yarn
      - name: Enable Corepack
        run: corepack enable
      - run: yarn install
      - run: yarn test
      - name: Count files in changeset folder
        run: |
          number_of_files_changeset_folder=$(ls -l .changeset/ | grep "^-" | wc -l)
          echo "Number of files: $number_of_files_changeset_folder"
          echo "CHANGESET_FOLDER_FILE_COUNT=$number_of_files_changeset_folder" >> $GITHUB_ENV
      - name: Manually generate changeset
        if: env.CHANGESET_FOLDER_FILE_COUNT < 4
        run: |
          echo "No changeset file found, generating from template"
          cp .changeset/default.template .changeset/temp-change-set.md
      - run: yarn changeset version
      - name: Get New Version
        run: |
          VERSION=$(jq -r .version package.json)
          echo "NEW_VERSION=$VERSION" >> $GITHUB_ENV
      - run: yarn build
      - run: yarn npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Bump version
          commit_options: "--no-verify --signoff"
          file_pattern: ".changeset/* CHANGELOG.md package.json"
          commit_user_name: Naza Bot
          commit_user_email: bot@chinaza.dev
          commit_author: Author <actions@github.com>
          status_options: "--untracked-files=no"
          add_options: "-u"
          push_options: "--force"
          skip_dirty_check: true
          skip_fetch: true
          skip_checkout: true
          disable_globbing: true
      - name: Setup for NPM
        run: |
          jq '.name = "@promind/honey"' package.json > temp.json && mv temp.json package.json
      - name: Publish to NPM
        run: yarn npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_REG_TOKEN }}
      - name: Trigger Generator Update
        if: success()
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
          repository: chinaza/generator-honeyjs
          event-type: update_honey_version
          client-payload: '{"version": "${{ env.NEW_VERSION }}"}'
